@font-face {
font-family: 'Charge Vector Black';
src: url('../public/Charge Vector Black.otf') format('truetype');
}
@font-face {
font-family: 'RetroTypo';

}
:root {
    --card-height: 700px;
    --card-width: calc(var(--card-height) / 1.5);
}

#root{
    background-image: linear-gradient(0deg, #38617f 20%, #9AD4DF 238%, #38617f 60%);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a{
    font-size: 50px;
    color: white;
    font-family: "Charge Vector Black";
}
a:hover{
    color: #cbcbcb;
}
.containerStream {
    display: flex;
    width: 100%;
    flex-flow: row;
    height: 94vh;
}
nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #38617F!important;
    border-bottom: #325269 solid 2px;
}
.uniqueStreamer{
    background-color:#38617F;
}
.uniqueStreamer button{
    background-color:transparent;
    border: none;
}
.uniqueStreamer:hover{
    cursor: pointer;
    background-color:#5b87a7;
}
.streamersList{
    min-width: 300px;
    height: -webkit-calc(100vh - 48px);
    overflow: overlay;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}
.streamTitle{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 26px;
}
.uniqueStreamerOnline{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 90px;
    position: relative;
}
.uniqueStreamerProfile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.uniqueStreamerProfile p{
    margin: 0;
    color:white;
}
.uniqueStreamerProfile img{
    width: 50px;
    border-radius: 50px;
}
.uniqueStreamerStats {
    display: flex;
    align-items: center;
    gap: 10px;
}
.uniqueStreamerStats img{
    width: 15px;
    border-radius: 50px;
}
.uniqueStreamerStats p{
    margin: 0;
    color:white;
}
.buttonToDisplayStream{
    height: 90px;
    position: absolute;
    left: -25px;
    width: 300px;
}

.homeContainer {
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.homeContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    gap: 30px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}
.paragraphHome{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
.paragraphHome span{
    color: #fcc249 ;
    font-weight: bold;
}

.clipsGlobalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 75%;
    gap: 20px;
}
.infoClipContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
}
a.clipsLink {
    text-decoration: none;
    border-radius: 10px;
}
a.clipsLink:hover{
    background-color: white;
    color:#38617f;
    p.viewsClips {
        border: 1px #38617f solid;
    }
    p.dateClip {
        border: 1px #38617f solid;
    }
}
p.titleClip {
    font-size: 20px;
    text-align: center;
}
img.imgClip {
    width: 340px;
    border-radius: 10px 10px 0 0;
}
p.viewsClips {
    font-size: 15px;
    border: 1px white solid;
    padding: 6px;
}
p.dateClip {
    font-size: 15px;
    border: 1px white solid;
    padding: 6px;
}
ul.paginateLay {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
}
.paginateLay li{
    color: white;
    margin: 15px;
    width: auto;
}
.paginateLay li a{
    color: white;
    margin: 15px;
}
.paginateLay li.selected{
    background-color: white;
    color:#38617f;
    border-radius: 10px;
}
.paginateLay li:hover{
    background-color: white;
    color:#38617f;
    border-radius: 10px;
}
.paginateLay li a:hover{
    color:#38617f;
}
h1.titleEdition {
    font-family: Charge Vector Black;
    color: white;
    margin-top: 100px;
    text-align: center;
}
.editionsInfosContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.editionsContainer {
     width: 303px;
     border: solid 2px white;
     padding: 30px;
     border-radius: 10px;
     display: flex;
     flex-flow: column;
 }
p.nbEdition {
    color: white;
    font-size: 30px;
    text-align: center;
}
p.totalEdition {
    font-size: 50px;
    text-align: center;
    color: #fcc249;
}

.loginButton{
    display: flex;
    background-color: #9AD4DE;
    color: #36617F;
    border: none;
    padding: 15px;
    border-radius: 30px;
    line-height: 22px;
    font-size: 25px;
}
.loginButton:hover {
    filter: drop-shadow(0px 0px 6px white);
}
@media screen and (min-width: 850px) {
    .twitch {
        position: relative;
        margin-bottom: 160px;
        width:100%;
    }

    .twitch .twitch-video {
        padding-top: 42.95%;
        width: 80%;
    }

    .twitch .twitch-chat {
        bottom: 0;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
    }
}