body {
    background: linear-gradient(45deg,#C6EC9B,#88E4B9);
}

img {
    width: 175px;
    display: block;
    margin: auto;
}

.uniquePokemonContainer {
    width: 175px;
    margin: 30px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1068/1068780.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemonGlobalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.inputPseudo{
  border-radius: 25px;
  font-size: 40px;
  height: 50px;
  text-align: center;
  width: 25%;
  background-color: rgba(255,255,255,0.9);
  color: #255748;
}
.uploadPost{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPseudo{
  border-radius: 25px;
    font-size: 25px;
    height: 50px;
    text-align: center;
    width: 50px;
    background-color: rgba(255,255,255,0.9);
    color: #255748;
}
