body {
    background: linear-gradient(45deg,#C6EC9B,#88E4B9);
}

img {
  display: block;
  margin: auto;
  width: 90px;
}
.infoPkm{
  position: absolute;
  top: 0;
}
.infoNbCapture{
  position: absolute;
  left: -19px;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
}
.infoShiny{
  width: 20px;
  position: absolute;
  top: 90px;
  left: 70px;
}
.stats{
    display: flex;
    gap: 30px;
    position: absolute;
    left: 7%;
}
.uniquePokemonContainer {
    background-position: 50%;
    background-repeat: no-repeat;
    background: rgba(37,87,72,.2);
    border-radius: 25%;
    -webkit-filter: drop-shadow(0 0 12px #000);
    filter: drop-shadow(0 0 12px black);
    padding: 15px;
}

.pokemonGlobalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 50%;
  gap: 10px;
}
.inputPseudo{
  background-color: hsla(0,0%,100%,.9);
  border-radius: 25px;
  color: #255748;
  font-size: 40px;
  margin: 20px;
  text-align: center;
  width: 100%;
  border: black solid 4px;
}

.uploadPost{
  align-items: center;
    display: flex;
    justify-content: center;
}
.buttonPseudo{
  background-color: hsla(0,0%,100%,.9);
  border-radius: 25px;
  color: #255748;
  font-size: 25px;
  height: 50px;
  text-align: center;
  width: 50px;
  border: solid black 4px;
  position: absolute;
  right: 2%;
}
